.container {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  cursor: pointer;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #BB4600;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 1rem;
}

.desc {
  text-align: center;
  color: #666;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }

  .title {
    font-size: 1.5rem;
  }

  .price,
  .desc {
    font-size: 1.3rem;
  }
}
